@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
	
	text-align: center;
}

.joinForm {
	position:absolute;
	background-color:transparent; /* 로그인 폼 배경색 및 투명도 조절 */
	padding: 20px;
	right:400px;
	width: 50%;
	text-align: center;
	margin: 100px auto; /* 수평 가운데 정렬 */
	top: 20%;
}

.joinForm h2 {
	text-align: center;
	margin: 30px;
	font-size: 100px;
	position: absolute;
	white-space: nowrap;
	top: -170px;
	right: 300px;
	
	
}
.joinForm h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px black;
}
.joinForm h2:nth-child(2) {
	color: black;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


.textForm {
	border-bottom: 1px solid #E6E6E6;
	margin: 30px;
	padding: 10px 10px;
}



.pw {
	width: 100%;
	border: none;
	outline: none;
	color: black;
	font-size: 16px;
	height: 25px;
	background: none;
}
.textForm input::placeholder {
    color: #E6E6E6;
    font-size: 16px;
    font-weight: bolder;
    
}
.textForm input{
	text-align: center;
	font-weight: bolder;
}
.textForm :hover{
	font-size: 20px;
	color: black;
	transition: all 2s;
}

.name {
	width: 100%;
	border: none;
	outline: none;
	color: black;
	font-size: 16px;
	height: 25px;
	background: none;
}

.email {
	width: 100%;
	border: none;
	outline: none;
	color: black;
	font-size: 16px;
	height: 25px;
	background: none;
	
	
}

.birth {
	width: 100%;
	border: none;
	outline: none;
	color: black;
	font-size: 16px;
	height: 25px;
	background: none;
	font-weight: bolder;
	
}






.btn {
	position: relative;
	left: 20%;
	transform: translateX(-50%);
	margin-bottom: 40px;
	width: 40%;
	height: 40px;
	background: linear-gradient(125deg, black, black,#E6E6E6);
	background-position: center;
	background-size: 200%;
	color: white;
	font-weight: bolder;
	border: none;
	cursor: pointer;
	transition: 1s;
	display: inline;
	border-radius: 100px;
}


.btn:hover {
	background-position: right;
	color: black;
	font-weight: bolder;
	font-size: 15px;
	
}
.already {
 color: white;	
 font-weight: bold;
	
}
.already a{
	color: white;
	font-weight: bold;
}
.already a:hover {
	font-weight: bolder;
	font-size: 20px;
	padding:10px;
	color: white;
	transition: all 1s;
	border: 1px solid white;
	background-color:black;
	border-radius: 30px;
}